img {
  width: 100px;
  padding: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
  margin-bottom: 50px;
}
.navigation ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 70px;
  font-size: 20px;
}
.nav-connect-button {
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #0d6efd;
  color: white;
}
